:root {
  --primary-text-color: #121417;
  --secondary-text-color: rgba(18, 20, 23, 0.5);
  --filtre-text-color: #8a8a89;
  --button-background-color: #3470ff;
  --card-text-color: rgba(18, 20, 23, 0.5);
  --filter-secondary-text-color: rgba(18, 20, 23, 0.2);
  --white-color: #fff;
}
